:root {
  --text-color: green;
  --space-medium: 24px;
}

.page {
  background: radial-gradient(50.08% 195.1% at 49.92% 49.75%, rgba(0, 10, 255, 0) 0%, rgba(138, 141, 231, 0.634459) 42.95%, #D9D9D9 100%), #FFFFFF;
  /* padding: 0 15px;
  background-image: url('/img/test_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
}

.page_content {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  padding: var(--space-medium);
  border-bottom: 1px solid #DEE2E6;
}

.logo {
  font-size: 17px;
  
}

.divider {
  margin: 0;
  height: 1px;
  background: #DEE2E6;
}

.nav {
  display: block;
}

.nav_link {
  color: #343A40;
  font-size: 16px;
  text-decoration: none;
}

.nav_link:hover {
  text-decoration: underline;
  opacity: 50%;
}

.nav_vertical > .nav_link {
  display: block;
}

.nav_inline > .nav_link:not(:last-child) {
  margin-right: var(--space-medium);
}

.nav_vertical > .nav_link:not(:last-child) {
  margin-bottom: 12px;
}

.header_nav_right {
  margin-left: auto;
  width: fit-content;
}

.page_block:not(:last-of-type) {
  margin-bottom: 80px;
}

.footer {
  padding: var(--space-medium) 0;
  border-top: 1px solid #DEE2E6;
}

.footer_copyright {
  font-size: 14px;
  color: #6C757D;
  display: block;
  margin-top: 12px;
}

.footer_title {
  font-size: 20px;
  color: var(--text-color, #212529);
  display: block;
  margin-bottom: 12px;
}

.hero_title {
  font-size: 56px;
  color: var(--text-color, #212529);
  font-weight: 500;
  margin-bottom: 12px;
  text-align: center;

  line-height: 100%;
}

.hero_text {
  color: var(--text-color, #212529);
  font-size: 20px;
  text-align: center;
  max-width: 585px;
  margin: 0 auto;

  line-height: 150%;
}

.plans_card:not(:last-of-type) {
  margin-right: var(--space-medium);
}

.card-header {
  padding: 12px;
  text-align: center;
  font-size: var(--space-medium);
  color: var(--text-color, #212529);
}

.card-body {
  padding: var(--space-medium);
  text-align: center;
}

.card_price_amount {
  font-size: 40px;
  color: var(--text-color, #212529);
}

.card_price_duration {
  font-size: 29px;
  color: #6C757D;
  vertical-align: 0px;
}

.card_block {
  text-align: center;
}

.card_block:not(:last-of-type) {
  margin-bottom: var(--space-medium);
}

.card_description_item {
  font-size: 16px;
  color: var(--text-color, #212529);
  display: block;
}

.card_description_item:not(:last-of-type) {
  margin-bottom: 12px;
}

.card_button {
  display: block;
  width: 100%;
  font-size: 19px;
  padding: 9px;
}

.card {
  outline: 1px solid red;
  border: 1px solid blue;
  border-radius: 15px;
  box-shadow: 5px -5px 5px red;
}

.btn {
  border-radius: 40px;
}

.card:hover {
  outline: 5px solid aqua;
  outline-offset: 5px;
  box-shadow: 5px -5px 5px aqua;
  cursor: pointer;
  cursor: not-allowed;
  opacity: 0.5;
}

h1 {
  text-shadow: 2px -3px 7px red;
}

.plans_card:nth-child(2) {
  visibility: hidden;
}

.hero_text {
  background: grey;
  max-width: max-content;
  width: 500px;
  hyphens: manual;
  word-spacing: 4px;
  overflow: auto;
  resize: horizontal;
}

.overflow {
  overflow-wrap: anywhere;
}

.hero_title {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 12px;
  height: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.plans_card:nth-child(1) > .card {
  background: #77b8f087;
  padding-block: 10px;
  padding-inline: 10px;
}

p {
  text-size-adjust: 300%;
  font-size-adjust: 1.0;
}

.hero_text {
  border-image: url('/img/img_snow.jpg');
  border-image-width: 40px;
  border-image-slice: 20%;
  border-image-repeat: stretch;
  border-image-outset: 10px;
  padding: 40px;
  color: yellow;
}

.card_block {
  /* list-style-type: upper-roman; */
  list-style-position: inside;
  list-style-image: linear-gradient(to bottom right, blue, red);
}

.card_description_item {
  display: list-item;
}

.table tr td {
  border: 1px solid black;
  border-bottom-color: red;
  border-right-color: blue;
}
.table {
  table-layout: fixed;
  width: 600px;
  border-collapse: unset;
  border-spacing: 10px;
  caption-side: top;
  empty-cells: hide;
}

.nav_link::before, .nav_link::after {
  /* content: url('/img/img_snow.jpg'); */
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url('/img/img_snow.jpg');
}

.nav_link::before {
  margin-right: 15px;
}

.nav_link::after {
  margin-left: 15px;
}

.calc {
  width: 600px;
  margin-left: calc(50% - (600px / 2));
}

#test {
  color: white;
  background: linear-gradient(179.25deg, #1400FF -6.29%, rgba(237, 102, 102, 0.528125) 52.11%, #00FF0A 82.02%, rgba(255, 255, 255, 0) 106.29%);
  background-blend-mode: difference;
  font-size: 22px;
  display: block;
  max-height: 300px;
}